
header{
    background-image: url(../Assets/Hero-bg.png) ;
    height: 97vh;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    font-family:'Inter';
    align-items: center;
}

.name{
    font-family:'Inter';
    font-size: 34px;
    font-weight: 900;
}
.sign-up{
    height: 48px;
    width: 132px;
}
.banner{
    height: 237px;
    width: 905px;
    margin: 158px auto;
}
.banner h1{
    font-family: 'Raleway';
    font-size: 65px;
    font-weight: bold;
    width: 905px;
    height: 152px;
    text-align: center;
    color: #252432;
    
}
.button-container{
    margin-bottom: 152px;
}
.sf-button{
    height: 48px;
    width: 174px;
}
.action{
    display: flex;
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    justify-content: space-between;
    
}
.leftside{
    width: 517px;
    height: 203px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    color: rgba(36, 37, 50, 0.50);
    font-size: 24px;
}
.LLp-btn{
    width: 229px;
    height: 48px;
}
.wc-mini{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin: 0px auto;
    padding: 50px 142px;
    box-sizing: border-box;
    border-radius: 24px;
    
}
.user-container{
    
    width: 856px;
    height: 206px;   
}
.title{
    
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.users{
    
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: space-around;
    
}
.numbers{
    font-family: 'Inter';
    font-size: 80px;
    font-weight: bold;
    
    margin: 0px;
}
.type{
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Inter';
    font-size: 20px;
}
.review{
    
    width: 1140px;
    height: 342px;
    margin: 137px auto;
    box-sizing: border-box;
}
.r-title{
    font-size: 42px;
    font-weight: bold;
    width: 100%;
    height: 49px;
    text-align: center;
}
.feedback-container{
    
    width: 100%;
    height: 243px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    
}
.feedbacks{
    
    border-radius: 14px;
    height: 100%;
    width: 366px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.icons{
    margin-top: 24px;
    margin-bottom: 24px;
}
.text{
    margin-bottom: 24px;

}
.heading{
    font-family: 'Raleway';
    
    font-weight: bold;
}
.description{
    font-family: 'Raleway';
    font-size: 14px;
    margin-top: 5px;
    color:rgba(0, 0, 0, 0.5) ;
}
.image{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.names{
    color: rgb(56, 54, 54);
    font-size: 10px;
    font-family: 'Raleway';
}
.date{
    color:rgb(56, 54, 54,0.5) ;
    font-size: 10px;
}


/* shared styles */
.color01{
    color: #4E47FF;
}
.color02{
    color:#252432 ;
}
.R{
    font-family: 'Raleway';
}
.btn{
    background-color:#4E47FF ;
    color: white;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    
}
.center{
    justify-content: center;
    align-items: center;
}
